#wrapper {
    background-color: #2cb3f3;
    color: white;
    font-family: Menlo, monospace;
    font-size: 16px;
    width: 100%;
    min-height: 2250px;
    padding-top: 50px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.last_task {
    display: block;
    visibility: hidden;
    margin: 25px auto;
    width: 50%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

h3 {
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 4px 2px 12px #34507a;
    margin-left: 10px;

}

h5 {
    color: #34507a;
    font-style: italic;
    font-weight: bold;
    font-size: 1.15em;
    text-shadow: 4px 2px 12px #ffffff;
    margin-left: 10px; 
}

table {
    display: block;
    margin: auto;
    width: 50%;
}

label {
    font-size: 1.25em
}

#create_task_button {
    background-color: #033678;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    font-size: 16px;
}

.questions {
    margin-top: 50px;
    padding: 0px 3px 10px 5px;
}

.questions p {
    margin-left: 475px;
    line-height: 1.5;
}

.scoreData {
    height: 475px;
    border: none;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 5px 40px 5px 40px;
}

.scoreData p {
    white-space: nowrap;
}

.scoreData input {
    width: 5%;
    margin-left: 1350px;
    font-size: 16px;
    padding: 3px 0px 3px 0px;
}

#question_submit_button {
    background-color: #2e4663;
    padding: 7px 15px 7px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 35px;
    margin-left: 1350px;
    border: 1px solid #ffffff;
}

#question_submit_button a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

#view_tasks_button {
    background-color: #2e4663;
    padding: 7px 15px 7px 15px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 35px;
    margin-left: 1350px;
    border: 1px solid #ffffff;
} 

#view_tasks_button a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

#logout_button {
    background-color: #2e4663;
    padding: 7px 15px 7px 15px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 35px;
    margin-left: 1350px;
    border: 1px solid #ffffff;
} 

#logout_button a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}