#wrapper {
    background-color: #2cb3f3;
    color: white;
    font-family: Menlo, monospace;
    font-size: 24px;
    width: 100%;
    padding-top: 50px;
}

h1 { 
    color: white;
    margin-top: 25px;
    margin-left: 925px;
}

img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: 750px;
    border-radius: 50%;
}

.login_form {
    display: inline-block;
    font-size: 24px;
    color: white;
    margin-top: 25px;
    margin-left: 825px;
    margin-bottom: 250px;
    padding: 10px;
}

.login-group {
    font-size: 24px;
    color: white;
    padding: 5px 0px 5px 0px;
}

input {
    width: 100%;
    padding: 10px;
}

button {
    background-color: #033678;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    margin-left: 265px;
    margin-top: 20px;
}