<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylelogin.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">    
    {% for message in messages %}
        {% if 'register' in message.extra_tags %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}  
    {% endfor %}
    </ul>
    {% endif %}
    <div id="wrapper">
        <h1>Login</h1>
        <img src="static/img/notesplanner.jpg">
            <div class="login"> 
                <form action="login" method="post" class="login_form">
                {% csrf_token %}
                    <div class="login-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="login-group">
                        <label for="password">Password:</label>
                        <input type="text" name="password" id="password">
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
    </div>
</body>
</html>